#stopwatch_pause, #stopwatch_reset {
	display: none;
}
#stopwatch_reset {
	position: fixed;
   	transform: translateX(-50%);		
	left: 50%;
	bottom: 5.5rem;
}
#stopwatch_clock {
	flex-direction: row;
	align-items: center;
}
#stopwatch_fractional {
	font-size: 4.5rem;
}
@media (max-width: 599px) {
	#stopwatch_clock {
		height: 16rem;
		width: 16rem;
	}
	#stopwatch_clock button {
		margin: 0.5rem auto;
	}
	#stopwatch_fractional {
		font-size: 2.25rem;
		margin-top: 17px;
	}
}