body, main {
	margin: 0;
	width: 100vw;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.top-align {
	justify-content: normal;
}
.tab-content {
	text-align: center;
}
.mdc-fab {
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
	transform: translateX(-50%);
}
#toolbar-tab-bar {
	margin: 0 24px;
}
.mdc-tab {
	padding: 20px 24px;
	min-width: 72px;
}
.mdc-tab__icon {
	vertical-align: middle;
}
#timer, #stopwatch, #settings {
	display: none;
}
#time {
	margin-bottom: 0.5rem;
}
#time_numeral {
	letter-spacing: 0;
}
#date {
	text-transform: uppercase;
}
.active {
	color: var(--mdc-theme-secondary);
}
#timer_textfield {
	text-align: center;
}
#timer_pause {
	display: none;
}
#settings {
	text-align: left;
	width: 85vw;
	margin: auto;
}
#settings .mdc-list-item {
	cursor: pointer;
}
#settings .mdc-list-item__end-detail {
	width: 48px;
	height: 20px;
}
#settings .mdc-list-group__subheader {
	padding-left: 16px;
	margin-bottom: 0px;
}
@media (max-width: 599px) {
	.mdc-toolbar__section--align-start {
		display: none;
	}
	#toolbar-tab-bar {
		margin: 0;
		width: 100%;
	}
	.mdc-tab {
		width: 25%;
		padding: 16px 12px;
	}
	#settings {
		width: 100vw;
	}
}