:root {
	transition: all 0.25s;
}
html, .mdc-toolbar {
	transition: background-color 0.25s;
}
html, .mdc-list-item__text, .mdc-list-item__text__secondary, .mdc-list-group__subheader, .mdc-text-field__input, .mdc-text-field-helptext, .mdc-tab__icon, .mdc-toolbar__title {
	transition: color 0.25s;
}
.mdc-list-divider, .mdc-text-field__input {
	transition: border-bottom 0.25s;
}
body, main {
	margin: 0;
	width: 100%;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mdc-typography--display4 {
	font-size: 6rem;
	letter-spacing: 0;
}
.mdc-typography--display1 {
	font-size: 4rem;
	line-height: 4rem;
}
.mdc-typography--body1 {
	font-size: 2rem;
	line-height: 2rem;
}
.top-align {
	justify-content: normal;
}
.tab-content {
	text-align: center;
}
.mdc-fab {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
	transform: translateX(-50%);
}
.mdc-button:not(:disabled) {
	color: var(--mdc-theme-text-primary-on-primary);
	white-space: nowrap;
}
.icon_button {
	min-width: 48px;
	height: 48px;
  padding: 0;
  border-radius: 50%;
}
.icon_button i {
	vertical-align: middle;
}
.tab_circle_overlay {
	display: none;
	border: 2px solid var(--mdc-theme-primary);
	border-radius: 50%;
  background-color: var(--mdc-theme-secondary);
  width: 8px;
  height: 8px;
  position: absolute;
  transform: translateX(-50%);
  left: 58%;
  top: 53%;
}
#toolbar-tab-bar {
	margin: 0 24px;
}
.mdc-tab {
	padding: 20px 24px;
	min-width: 72px;
}
.mdc-tab__icon {
	vertical-align: middle;
}
.mdc-list-item {
	white-space: normal;
}
#timer, #stopwatch, #settings {
	display: none;
}
.accent {
	color: var(--mdc-theme-secondary);
}
.mdc-text-field__bottom-line {
	background-color: var(--mdc-theme-secondary);
}
@media (max-width: 599px) {
	.mdc-typography--display4 {
		font-size: 3.75rem;
		line-height: 3.75rem;
		letter-spacing: 0;
	}
	.mdc-typography--display1 {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
	.mdc-typography--body1 {
		font-size: 1rem;
		line-height: 1rem;
	}
	.mdc-toolbar__section--align-start {
		display: none;
	}
	#toolbar-tab-bar {
		margin: 0;
		width: 100%;
	}
	.mdc-tab {
		width: 25%;
		padding: 16px 12px;
	}
}