:root {
  --mdc-theme-primary: #03a9f4;
  --mdc-theme-primary-light: #67daff;
  --mdc-theme-primary-dark: #007ac1;
  --mdc-theme-secondary: #ff6d00;
  --mdc-theme-secondary-light: #ff9e40;
  --mdc-theme-secondary-dark: #c43c00;
  --mdc-theme-text-primary-on-primary: #000;
  --mdc-theme-text-secondary-on-primary: rgba(0,0,0,0.7);
}
html {
  background-color: #f5f5f5;
}
html, .mdc-list-item__text, .mdc-list-item__text__secondary {
	color: var(--mdc-theme-text-primary-on-primary);
}