<div *ngIf="timer == null" id="timer_entry" class="mat-display-3">
  <div id="timer_input" (click)="numInput.focus()">
    <span>
      {{ getHours() }}<span class="mat-display-1">h</span>
    </span>
    <span>
      {{ getMinutes() }}<span class="mat-display-1">m</span>
    </span>
    <span>
      {{ getSeconds() }}<span class="mat-display-1">s</span>
    </span>
    <button mat-icon-button [disabled]="input.length == 0" (click)="deleteInput()">
      <mat-icon>backspace</mat-icon>
    </button>
  </div>
  <input #numInput id="num_input" type="number" min="0" max="999999" value="{{input}}" (input)="processInput($event.target.value)">
  <mat-divider></mat-divider>
  <button mat-fab color="accent" (click)="createTimer()">
    <mat-icon>play_arrow</mat-icon>
  </button>
</div>
<div *ngIf="timer != null" id="timer_display" class="mat-display-4">
  <div id="timer_number_display">
    <span>{{ timer.getTime() }}</span>
    <span *ngIf="showDeciseconds">.{{ timer.getFractionalSeconds() }}</span>
  </div>
  <div id="button_row">
    <button id="timer_reset" mat-button (click)="deleteTimer()">Delete</button>
    <button id="timer_pause" mat-fab color="accent" (click)="pauseTimer()">
      <mat-icon aria-label="Stop Timer">{{ fabText }}</mat-icon>
    </button>
    <button id="timer_add" mat-button (click)="addTimer()">Add</button>
  </div>
</div>
