@import '~@angular/material/theming';

@include mat-core();

$app-primary-light: mat-palette($mat-grey, 50);
$app-accent: mat-palette($mat-blue, A200);
$app-theme: mat-light-theme($app-primary-light, $app-accent);

$app-primary-dark: mat-palette($mat-grey, 900);
$app-dark-theme: mat-dark-theme($app-primary-dark, $app-accent);

@include angular-material-theme($app-theme);

::selection {
	background-color: mat-color($app-accent);
	color: white;
}

.mat-tab-nav-bar, .mat-tab-header, .mat-tab-body-content {
	background-color: mat-color($app-primary-light);
	transition: color 0.2s, background-color 0.2s;
}

.mat-list .mat-subheader, .mat-nav-list .mat-subheader,
.mat-selection-list .mat-subheader {
	color: mat-color($app-accent);
}

.dark-theme {
	@include angular-material-theme($app-dark-theme);
	background-color: mat-color($app-primary-dark);

	.mat-tab-nav-bar, .mat-tab-header, .mat-tab-body-content {
		background-color: mat-color($app-primary-dark);
		color: white;
	}

	.mat-list .mat-subheader, .mat-nav-list .mat-subheader,
	.mat-selection-list .mat-subheader {
		color: mat-color($app-accent);
	}
}