<mat-selection-list>
	<h3 mat-subheader>Clock</h3>
	<mat-list-option *ngFor="let setting of clockSettings; last as isLast" (click)="toggleValue(setting.reference)" [selected]="getValue(setting.reference)">
		<h3 matLine>{{ setting.headline }}</h3>
		<div matLine class="mat-caption" *ngIf="setting.subHeadline.length > 0">{{ setting.subHeadline }}</div>
		<mat-divider *ngIf="!isLast"></mat-divider>
	</mat-list-option>
	<!-- include other settings here -->
	<h3 mat-subheader>General</h3>
	<mat-list-option *ngFor="let setting of generalSettings" (click)="toggleValue(setting.reference)" [selected]="getValue(setting.reference)">
		<h3 matLine>{{ setting.headline }}</h3>
		<div matLine class="mat-caption" *ngIf="setting.subHeadline.length > 0">{{ setting.subHeadline }}</div>
	</mat-list-option>
</mat-selection-list>
<mat-nav-list>
	<h3 mat-subheader>About</h3>
	<mat-list-item>
		<h3 matLine>Version</h3>
		<div matLine class="mat-caption">2.0.0</div>
	</mat-list-item>
	<mat-divider></mat-divider>
	<a mat-list-item target="_blank" href="https://github.com/DdcCabuslay/mikuru" rel="noopener noreferrer">
		GitHub repository
	</a>
	<mat-divider></mat-divider>
	<a mat-list-item target="_blank" href="https://ddccabuslay.me" rel="noopener noreferrer">
		Developer's website
	</a>
</mat-nav-list>